<div id="container">
  <div class="row align-items-center mb-3">
    <div class="col">
      <form class="form-signup" action="/classes" style="width: 600px;">
        <div class="form-row">
          <div class="col-auto">
            <input type="text" id="keywords" name="keywords" class="form-control" placeholder="Search" required>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="bottom" class="d-flex">
    <div id="left" class="row mt-3">
      {{#each classes}}
      <div class="col-md-4 mb-3">
        <div class="card h-100 shadow-sm">
          <a href="/classes/{{ this.id }}">
            <img class="card-img-top img-fluid" src="{{ this.image }}" alt="image" width="286px" height="180px"
              style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1">
          </a>
          <div class="card-body">
            <p class="card-text">
              <a href="/classes/{{ this.id }}"></a>
              {{ this.teacherName }}
            </p>
            <p class="card-text">{{ this.nation }}</p>
            <p class="card-text">{{ this.score }}</p>
            <p class="card-text">{{ this.intro }}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div id="right" class="mt-3 col-md-3 mx-4 align-items-center">
      <div class="text-center mb-3">
        <h5>學習總時數排名</h5>
      </div>
      {{#each dataRanked}}
      <div class="card mb-3 shadow-sm">
        <div class="row align-items-center">
          <div class="col">
            <img class="p-2 rounded-circle img-fluid" src="{{ this.image }}" alt="card image" width="70px" height="45px"
              style="transition: opacity 0.5s; opacity:0; border-radius: 50%" onload="this.style.opacity=1">
          </div>
          <div class="col">
            <p>No.{{ this.ranking }}</p>
          </div>
          <div class="col">
            <p>{{ this.name }}</p>
          </div>
          <div class="col">
            <p>{{ this.totalHours }} hr</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div id="paginator">
    <nav class="mt-3" aria-label="page navigation">
      <ul class="pagination">
        <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
          <a class="page-link" href="/classes?page={{ pagination.prev }}&keywords={{ keywords }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pagination.pages}}
        {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="#">{{ this }}</a></li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="/classes?page={{ this }}&keywords={{ ../keywords }}">{{ this }}</a>
        </li>
        {{/ifCond}}
        {{/each}}
        <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
          <a class="page-link" href="/classes?page={{ pagination.next }}&keywords={{ keywords }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>