<div id="container">

  <div id="top">
    <form class="form-signup" action="/classes" style="width: 100%;">
      <div class="form-row mb-3">
        <input type="text" id="keywords" name="keywords" class="form-control" placeholder="Search" required>
      </div>
    </form>
  </div>

  <div id="bottom" class="d-flex">
    <div id="left" class="row mt-3">
      {{#each classes}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a href="/classes/{{ this.id }}">
            <img class="card-img-top img-fluid" src="{{ this.image }}" alt="image" width="286px" height="180px"
              style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1">
          </a>
          <div class="card-body">
            <p class="card-text">
              <a href="/classes/{{ this.id }}"></a>
              {{ this.teacherName }}
            </p>
            <p class="card-text">{{ this.nation }}</p>
            <p class="card-text">{{ this.score }}</p>
            <p class="card-text">{{ this.intro }}</p>
    
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div id="right" class="mt-3 col-md-3">
      <h5>學習總時數排名</h5>
      {{#each dataRanked}}
      <div class="card mb-3 shadow-sm  d-flex">
        <img class="img-fluid" src="{{ this.image }}" alt="card image" width="70px" height="45px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1">
        <p>No.{{ this.ranking }}</p>
        <p>{{ this.name }}</p>
        <p>{{ this.totalHours }} hours</p>
      </div>
      {{/each}}
    </div>
  
  </div>

  <div id="paginator">
    <nav class="mt-3" aria-label="page navigation">
      <ul class="pagination">
        <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
          <a class="page-link" href="/classes?page={{ pagination.prev }}&keywords={{ keywords }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each pagination.pages}}
        {{#ifCond this ../pagination.currentPage}}
        <li class="page-item active"><a class="page-link" href="#">{{ this }}</a></li>
        {{else}}
        <li class="page-item">
          <a class="page-link" href="/classes?page={{ this }}&keywords={{ ../keywords }}">{{ this }}</a>
        </li>
        {{/ifCond}}
        {{/each}}
        <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
          <a class="page-link" href="/classes?page={{ pagination.next }}&keywords={{ keywords }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>